body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ebedf3;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #6699cc;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-top: 5vh;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  width: 500px;
}

.toolbar-item {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.toolbar label {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #000000;
}

.toolbar select {
  border: 1px solid #676767;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.canvas {
  background-color: white;
}
