/* Use the specified font family */
body {
    background-color: #ebedf3;
  }
  
  .front-page {
    text-align: center;
    color: #003b6d;
  }

  div {
    background-color: #bdbdbd;
  }
  
  .header {
    background-color: #003b6d;
    color: #ffffff;
    padding: 20px;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .footer {
    background-color: #003b6d;
    color: #ffffff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
  }
  
